* {
    box-sizing: border-box;
}

label {
    padding: 10px 10px 10px 0;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: teal;
}

.container {
    border-radius: 5px;
    background-color: gainsboro;
    padding: 20px;
    border: 1.5px solid teal;
    max-width: 1000px;
    max-height: 800px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=submit] {
    background-color: cadetblue;
    color: floralwhite;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    float: right;
} 

input[type=submit]:hover {
    background-color: darkslategray;
    color: snow;
}

input[type=text] {
    padding: 5px 5px 5px 0;
    background-color: snow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 8px;
    border: 1.5px solid teal;
    border-radius: 4px;
    resize: vertical;
} 
