/* Effect to the entire document */
html {
    scroll-behavior: smooth;
}

/* Body */
body {
    margin: 0%;
     opacity: 1;
     transition: 3s opacity;
    letter-spacing: .2vw;
    font-family: Helvetica ,Arial, sans-serif;
    font-size: 1.5vw;
}

body.fade-out {
    opacity: .1;
    transition: none;
}

/* Navbar */
.Navbar {
    overflow: hidden;
    background-color: dimgray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
     position: fixed;
    -webkit-animation: moveNav 3.50s;
     animation: moveNav 3.50s;
}

/* Navbar text */
.Navbar a {
    float: left;
    display: block;
    color: snow;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: Helvetica ,Arial, sans-serif;
    font-size: 1.5vw;
    text-align: center;
     position: relative;
    -webkit-animation: movenavText 4.75s;
     animation: movenavText 4.75s;
    letter-spacing: .2vw;
}

/* Navbar animation */

@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

@keyframes movenavText {
    from {top: -100vw;}
    to {top: 0px;}
}

@keyframes movevideoText {
    from {top: -100vw;}
    to {top: 0px;}
  }
  

/* Navbar hover effect */
.Navbar a:hover {
    background-color: snow;
    color: midnightblue;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

/* Navbar home button */
.Navbar a.active {
    background-color: tomato;
}

/* Video */

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1.5,1.5);
    }
    100% {
        transform: scale(1,1);
    }
}

#Back_Video {
    position: fixed;
    right: 0;
    bottom: -150px;
    min-width: 100%;
    min-height: 100%;
    top:0;
    z-index: -1;
    animation: zoominoutsinglefeatured 5s;
}

/* Text over video */
.Video_Text {
    background: rgba(0 ,0 ,0 , 0.5);
    color: snow;
    width: 100%;
    padding-top: .1vh;
    padding-bottom: 1vh;
    margin-top: 23%;
     position: relative;
    -webkit-animation: moveNav 4s;
     animation: moveNav 4s;
}

/* Slideshow effects */

#Slideshow_Background {
    background: rgba(255,255,255,0.35);
}

.mySlides {
    display: none;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#Slideshow_Container {
    width: 35vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

.Slide_Show_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0,0,0,0.75);
    width: auto;
}

.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: blanchedalmond;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
  }

  .Next {
      right:0;
      border-radius: 3px 0 0 3px;
  }

  .Previous:hover, .Next:hover {
      background-color: rgba(95, 158, 160, 0.8);
      color: white;
  }

  .text {
      color: white;
      padding: 1vw;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      letter-spacing: .1vw;
      font-size: 1.5vw;
      background-color: rgba(0,0,0,0.75);
      font-weight: bold;
      border-radius: 7px 7px 7px 7px;
  }

  .Slide_Number {
    color: white;
    position: absolute;
    top: 0;
    font-family: Helvetica ,Arial, sans-serif;
    letter-spacing: .1vw; 
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
    }

    .dot {
        cursor: pointer;
        height: 1vw;
        width: 1vw;
        margin: .25vw;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        position: relative;
        z-index: 1;
    }

    .active, .dot:hover {
        background-color: tomato;
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;  
    }

/* Table- The columns and rows within the table */
* {
    box-sizing: border-box;
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 550px;
    background-color: snow;
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 550px;
    background-color: cadetblue;
}

.Row:after {
    content:"";
    display: table;
    clear: both;
}
/* H1 elements */

h1 {
    text-transform: uppercase;
    font-family: Helvetica ,Arial, sans-serif;
    text-align: center;
    margin-top: 3%;
    color: sienna;
}

/* P elements */
p {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 1.36vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

/* Center align elements */
center {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

/* Anchor Elements */
a {
    color: slateblue;
}

/*quotation elements */
q {
    font-style: italic;
    font-weight: bold;
}

/* Image elements */
img {
    filter: sepia(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
     margin: auto auto auto auto;
    display: block;
}

/* center align element hover effect */
center:hover {
    transition: transform 2s;
    transform: scale (1.1);
}

/* paragraph element hover effect */
p:hover {
    color: midnightblue;
    transition: transform 1s;
    transform: scale(1.01);
}

/* H1 element hover effect */
h1:hover {
    color: tomato;
    font-weight: normal;
}

/* Image element hover effect */
img:hover {
    filter: sepia(5%);
    transition: transform 1s;
    transform: scale(1.03);
}

/* Contact form styling */

@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw;}
}

.Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 4s;
    animation: movePopup 4s;
}

.form-popup {
    border: 3px solid lightgray;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

.form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: snow;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw;
    border: none;
    background: gainsboro;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw; 
}

.form-container .btn {
    background-color: snow;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

button {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover, .form-container .btn:hover{
    color: white;
    background-color: cadetblue;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: silver;
}

.form-container .cancel:hover{
    color: white;
    background-color: tomato;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
    border-style: solid;
    border-color: black;
}

/* footer element */
footer {
    padding: 2%;
    background-color: blanchedalmond;
}
